body {
 
    background-color: #dfdfdf;
}
 
#contenedor {
 
    font-display: "Lucida Sans Unicode",sans-serif;
    font-size: 1em;
    background-color: #FFFFFF;
    border: #d3d3d3 1px solid;
    text-align: justify;
    margin: 10px auto;
    width: 900px;
}
 
#encabezado {
 
    width: 900px;
    height: 150px;
    background: url(../imagenes/banner.png);
    border: #d3d3d3 1px solid;
}
 
h1{
    text-align: center;
    margin-top: 50px;
}
 
div#contenido{
    border: #d3d3d3 1px solid;
    margin: 20px 20px 10px 140px;
    padding: 10px 15px;
}
 
h2{
 
    color: #0075FF;
    border-bottom: #CFDFB5 1px solid;
}
 
#menu{
    float: left;
    width: 120px;
    background-color:D4FFFF;
    margin: 20px 10px;
    padding:  0;
    list-style-type: none; 
}
 
#menu li{
 
    border: #d3d3d3 1px solid;
    background-color: #0075FF;
    margin-bottom: 5px;
    font-size: 0.9em;
    text-align: center;
    line-height: 30px;
}
 
#menu a{
    display: block;
    text-decoration: none;
    color: #000000;
}
 
#menu li:hover{
    background-color: #7092BE;
}
 
#menu li.activa , #menu li:hover{
    background-color: #7092BE;
}


/*Ejemplo modal*/
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}